// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

.form-control {
  position: relative;
  width:50%;
  left: 25%;
}


.signup {
  position:relative;
  margin-top: -20px;
}

.page_title {
  position: relative;
  padding-top: 20px;
  text-align: center;
  font-family: verdana;
  letter-spacing: 5px;

}
.page-header {
  position: relative;
  left: 25%;
  width: 50%;
}


.btn {
  position: relative;
  margin-top: 20px;
  left: 47%;
  .btn-success {

  }
}

.what {
  position: relative;
  margin-top:10px;
  left: 47%;
  margin-bottom: 30px;
}